.emptyFields {
  background-color: #dddddd;
  animation: fade 0.5s linear infinite alternate;
}

@keyframes fade {
  0% {
    background-color: #aaaaaa;
  }
  100% {
    background-color: #dddddd;
  }
}
