.main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.main__left {
  flex: 1;
}

.main__right {
  flex: 2;
}

@media (width < 800px) {
  .main__right {
    display: none;
  }
}
